/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.todo-x{
  visibility: hidden;
}


.todo-item:hover .todo-x{
visibility: visible;
}

.shadow-lg{
  0 1rem 3rem rgba($black, .175);
}